<div style="height: 100%; width: 100%; display: flex; flex-flow: column nowrap; justify-content: flex-start;" data-view-name="anonymous-view-88" data-render-count="1"><div style="flex: 15.17 1 0;" id="flex-region-5" region="gen-h-1" class="region region-gen-h-1"><div data-view-name="User.Banner" class="regional regional-user-banner" data-render-count="1"><!-- related js: js/view/user/banner.js -->
<h2>
    <sup><i class="fa fa-quote-left"></i></sup>
    Stage.js - template for <strong>User.Banner</strong> of type: VIEW <i class="fa fa-exclamation"></i>
    <sup><i class="fa fa-quote-right"></i></sup>
</h2>
</div></div><div style="flex: 0 0 2px;background-color: #ddd;"></div><div style="flex: 84.83 1 0px; display: flex; flex-flow: row nowrap; justify-content: flex-start;" id="flex-region-8"><div style="flex: 27.39 1 0;" id="flex-region-6" region="gen-v-2" class="region region-gen-v-2"></div><div style="flex: 0 0 2px;background-color: #ddd;"></div><div style="flex: 72.61 1 0;" id="flex-region-7" region="gen-v-3" class="region region-gen-v-3"></div></div></div>